$color-black-100: #040404;
$color-black-200: #161920;
$color-black-300: #0e131a;
$color-black-400: #262626;
$color-black-500: #0e0f12;
$color-gray-100: #a8a8a8;
$color-gray-200: #343946;
$color-blue-100: #2b5fe4;
$color-red-100: #aa1a1a;
$color-green-100: #3e8d3c;

$font-family: "Montserrat", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 700;
$font-weight-black: 700;

$space-2xs: 4px;
$space-xxs: 8px;
$space-xs: 16px;
$space-sm: 24px;
$space-md: 32px;
$space-lg: 40px;
$space-xl: 48px;
$space-xxl: 56px;
$space-2xl: 64px;
$space-3xl: 72px;
$space-4xl: 80px;

$screen-xs: "only screen and (max-width: 500px)";
$screen-sm: "only screen and (max-width: 768px)";
$screen-md: "only screen and (max-width: 992px)";
$screen-lg: "only screen and (max-width: 1200px)";
$screen-xl: "only screen and (max-width: 1500px)";
$screen-2xl: "only screen and (max-width: 1700px)";
