.contact {
  padding: 140px 0;
  background-color: $color-black-300;

  &__title {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: $space-4xl;
    background-color: transparent;
  }

  &__form {
    margin: 0px auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    background-color: transparent;

    & > * + * {
      margin-top: $space-md;
    }
    & button {
      background-color: $color-blue-100;
      border-radius: 8px;
      font-size: 26px;
      font-weight: $font-weight-bold;
      color: #fff;
      border: none;
      padding: $space-xs 0;
      transition: opacity 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media #{$screen-xl} {
  .contact {
    padding: 120px 0;
  }
}
@media #{$screen-lg} {
  .contact {
    &__form {
      margin: 0px 100px;
    }
  }
}
@media #{$screen-md} {
  .contact {
    padding: 90px 0;

    &__title {
      margin-bottom: $space-lg;
    }

    &__form {
      margin: 0px $space-2xl;
      & > * + * {
        margin-top: $space-sm;
      }
    }
    & button {
      font-size: 24px;
    }
  }
}

@media #{$screen-sm} {
  .contact {
    padding: 60px 0;

    &__form {
      margin: 0px $space-md;

      & button {
        font-size: 22px;
        padding: 10px 0;
      }
    }
  }
}
@media #{$screen-xs} {
  .contact {
    padding: 50px 0;

    &__form {
      margin: 0px $space-xs;

      & > * + * {
        margin-top: $space-xs;
      }

      & button {
        font-size: 20px;
        padding: 10px 0;
      }
    }
  }
}
