.movies {
    padding: $space-4xl 0px;
    margin: 0 auto;
    
    &__title {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: $space-4xl;
    }

    &__wrapper {
       margin: 0 auto;
       max-width: max-content;
       position: relative;
       min-height: auto;
    }

    &__day {
        user-select: none;
        cursor: pointer;
        background-color: $color-background-primary;
        white-space: nowrap;
        display: block;
        text-align: center;
        padding: $space-xs $space-sm;
        width: auto!important;
        border: 1px solid $color-light-gray;
        border-radius: 8px;
        font-size: 22px;
        color: #fff;
        font-weight: $font-weight-medium;
        transition: all .3s;

        &:hover, &.active {
            background-color: $color-blue;
            border-color: $color-blue;
        }
    }

    & .swiper-slide {
        margin-top: $space-2xl;
    }

    &__card {
        transition: opacity .3s;
        cursor: pointer;
        animation-name: appear;
        animation-duration: 2s;

        &:hover {
            opacity: .5;
        }

        & div {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: $space-xs;
            max-width: auto;

            & h3 {
                font-size: 22px;
                line-height: 30px;
                color: #fff;
                font-weight: $font-weight-semibold;
                max-width: 200px;
            }

            & span {
                color: $color-light-gray;
                font-size: 18px;
                font-weight: $font-weight-medium;
                margin-top: 6px;
            }
        }

        & span {
            display: block;
            color: $color-light-gray;
            font-size: 18px;
            margin-top: $space-sm;
        }

        & img {
            width: 310px;
            height: 420px;
            position: relative;
            z-index: 1;
            border-radius: 8px 8px 0px 0px;
        }
    }
    
    &__wrapper:hover {
        .swiper-movie-button-prev button,
        .swiper-movie-button-next button {
            opacity: 1;
        }
    }

    .swiper-movie-button-prev[aria-disabled=true] button,
    .swiper-movie-button-next[aria-disabled=true] button {
        display: none;
    }
    .swiper-movie-button-prev button,
    .swiper-movie-button-next button {
        opacity: 0;
        position: absolute;
        top: 45%;
        background-color: rgba($color: $color-background-primary, $alpha: .8);
        border-radius: 50%;
        padding: $space-sm $space-md;
        z-index: 2;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        cursor: pointer;
        
        & i {
            transform: translateX(-2px);
            background-color: transparent;
            font-size: 40px;
            color: #fff;
        }

        &:hover {
            background-color: rgba($color: $color-background-primary, $alpha: 1);
        }
    }

    .swiper-movie-button-prev button {
        left: $space-sm;
        & i {
            transform: translateX(-2px);
        }
    }
    .swiper-movie-button-next button {
        right: $space-sm;
        & i {
            transform: translateX(2px);
        }
    }

    &__card-fake {
        border-radius: 8px;
        width: 310px;
        background: $color-background-secondary;
        color:  $color-background-secondary!important;
        position: relative;
        overflow: hidden;
        height: 540px;
    }
    &__card-fake::before {
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        height: 100%;
        width: 250px;
        background: linear-gradient(to right, $color-background-secondary 25%,  #3d3d3d 50%, $color-background-secondary 100%);
        animation-name: gradient-animation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        filter: blur(5px);
    }
}

@media #{$screen-xl} {
    .movies {
        padding: 70px 0px;
    }
}
@media #{$screen-lg} {
    .movies {
        &__wrapper {
            display: block;
        }

        &__day {
            padding: $space-xxs $space-xs;
            font-size: 20px;
        }
    }
}
@media #{$screen-md} {
    .movies {
        padding: 60px 0px;

        &__title {
            margin-bottom: $space-2xl;
        }

        & .swiper-slide {
            margin-top: $space-xl;
        }

        .swiper-movie-button-prev button,
        .swiper-movie-button-next button {
            display: none;
        }
    }
}
@media #{$screen-sm} {
    .movies {
        padding: 40px 0px;

        &__title {
            margin-bottom: $space-xl;
        }
    }
}

@keyframes gradient-animation {
    from {
      left: -250px;
    }
    to {
      left: 100%;
    }
}
@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}